/*--------------------
2. Navigation
--------------------*/

.navbar-default {
	background-color: #222;
	border-color: transparent;
}
.navbar-default .navbar-brand {
	color: #fff;
	font-family: "Montserrat",sans-serif;
	padding: 0px;
}
.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:active,.navbar-default .navbar-brand.active {
	color: gray;
}
.navbar-default .navbar-collapse {
	border-color: rgba(255,255,255,.02)
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #888;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
	background-color: #ddd;
}
.navbar-default .nav li a {
	font-family: "Roboto",sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	color:#ffffff;
}
.navbar-default .nav li a:hover,.navbar-default .nav li a:focus {
	color: #84b8cb; /***** #1bac91;color del hover del menu****/
	outline: 0
}

.navbar-default .navbar-nav>.active>a {
	border-radius: 0;
	color: #fff;
	background-color: #fed136
}
.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #ffffff;
}
div, article, section, header, footer, nav, li {
	position:relative;
}
