.row-fluid .offset1 {
  margin-left: 10.638297872340425%;
  *margin-left: 10.53191489361702%;
}

.row-fluid .offset1:first-child {
  margin-left: 8.51063829787234%;
  *margin-left: 8.404255319148938%;
}

.row-fluid .span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}

/* .offset1 {
  margin-left: 130px;
} */
.span4 {
  /* width: 370px; */
  float: left;
  /* min-height: 1px;
  margin-left: 0px;
  margin-right: 10px; */
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
}
.span6 {
  width: 570px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 30px;
}

#container-team .container{
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

#container-team .container::after{
  clear: both;
}
#container-team .container::before, .container::after{
  display: table;
  line-height: 0;
  content: "";
}

.row::after {
    clear: both;
}

.row::before, .row::after {
    display: table;
    line-height: 0;
    content: "";
}

.aligncenter{
  text-align: center;

}

#img-team {
  width: auto\9;
  height: auto;
  max-width: 100%;
vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
section {
  display: block;
  position: relative;

}
section.section{
  padding: 50px 0 80px;
}
.b-team {
  margin-left: 2px;
  font-weight: 700;
  font-family: Roboto;
  text-align: justify;
  font-size: 16px;
}
div{
  position: relative;
}
/* [class*="span"]{
  float: left;
  min-height: 1px;
  margin-left: 0px;
} */
.h2-team h2{
  font-size: 30px;
  margin: 10px 0;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color:inherit;
  text-rendering: optimizeLegibility;
}

section.section h4 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 46px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-top: 10px;
}

 #p-team{
  margin: 0 0 10px;
  line-height: 1.6em;
  text-align: justify;
  font-size: 16px;
  font-family: Roboto;
}

/*Team*/
.slider--teams .slider--teams__team {
  position: relative;
  overflow: hidden;
}

#list {
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#list li {
  position: relative;
  display: inline-block;
  float: left;
  text-align: center;
}
#list li figure {
  cursor: pointer;
  margin: 1em;
  opacity: 0.5;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: opacity 450ms ease-in-out, -webkit-transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 450ms ease-in-out;
  transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 450ms ease-in-out, -webkit-transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transform: scale(0.5) translateZ(0px);
          transform: scale(0.5) translateZ(0px);
}
#list li figure:hover {
  opacity: 0.8;
  -webkit-transform: scale(0.6) translateZ(0px);
          transform: scale(0.6) translateZ(0px);
}
#list li figure:active {
  opacity: 1;
  -webkit-transform: scale(0.7) translateZ(0px);
          transform: scale(0.7) translateZ(0px);
}
#list li figure > div {
  border-radius: 50px;
  position: relative;
  margin: 2rem auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
  -webkit-transform: rotate(45deg) translateZ(0px);
          transform: rotate(45deg) translateZ(0px);
}


#list li figure > div > div {


background: url(../images/consultores.jpg) no-repeat;

background-size: cover;
background-position: 0px 0px;
position: absolute;
border-radius: 91px;
top: 50%;
left: 50%;
width: 190px;
height: 190px;
-webkit-transform: rotate(-45deg) translate(0%, -70%);
        transform: rotate(-45deg) translate(0%, -70%);
}

#list li figure figcaption h2 {
  color: #333;
  font-size: 1.6rem;
  font-weight: 800;
}


#list li figure figcaption p {
  color: #666;
  font-size: 0.9rem;
  font-weight: 400;
}
#list li:nth-child(1) figure > div > div {
  background-position: 0px 0px !important;/**jose**/
}
#list li:nth-child(2) figure > div > div {
  background-position: 0px 12.6% !important;/**dulce**/
}
#list li:nth-child(3) figure > div > div { /**esme**/
  background-position: 0px 25.1% !important;
}
#list li:nth-child(4) figure > div > div {/**paez**/
  background-position: 0px 37.6% !important;
}
#list li:nth-child(5) figure > div > div {/**laura**/
  background-position: 0px 50% !important;
}
#list li:nth-child(6) figure > div > div {/**gwen**/
  background-position: 0px 62.6% !important;
}
#list li:nth-child(7) figure > div > div {
  background-position: 0px 75.1% !important;/**javi**/
}
#list li:nth-child(8) figure > div > div {/**d heredia**/
  background-position: 0px 87.6% !important;
}
#list li:nth-child(9) figure > div > div {/**elza**/
  background-position: 0px 100.1% !important;
}
.active {
  opacity: 1 !important;
  -webkit-transform: scale(1) translateZ(0px) !important;
          transform: scale(1) translateZ(0px) !important;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 20;
}
.active{
    background: rgba(255,255,255,0.15)
}

@media (min-width: 1200px) {
  .offset1 { /* Estilo necesario para centrar la parte "Nosotros" */
    margin-left: 130px;
  }

  #container-team .container {  /* Estilo necesario para igualar la parte "Nosotros" con innovatium-mvc */
    padding-left: 0px;
    padding-right: 0px;
  }

  #container-team ul#list { /* Estilo para centrar la lista de "Equipo de trabajo" */
    padding-inline-start: 0px;
  }
}
